@media screen and (max-width:576px) {
  header{
    width: 100%;
  }
    .banner{
      width: 100%;
      flex-direction: column;
    }
    .banner-child{
      width: 100%;
      padding: 50px;
    }
    .mission{
      width: 100%;
    }
    .mission-container{
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      gap: 10px;
    }
    .develop{
      width: 100%;
   display: grid;
   grid-template-columns: repeat(1, 1fr);

    }
    .corona{
      width: 100%;
    }
    .corona-container{
      flex-direction: column;
    }
    .corona-card{
      width: 100%;
    }
    

   

    
   
    
}