@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* header css starts */
  header{
    width: 1050px;
    margin: 0 auto;
    /* border: 1px solid tomato; */
  }
  .banner{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
  }
  .banner-child{
    /* border: 1px solid red; */
    width: 45%;
  }
  .banner-title{
    font-size: 3.7rem;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .banner-text{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(62, 62, 62, 1);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .banner-btn{
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 89, 89, 1);
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding: 12px 37px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .banner-child img{
    width: 100%;
  }
  .second-text{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(67, 67, 67, 1);
    margin-top: 10px;
    margin-bottom: 10px;
  }
 
  /* header css ends */
  
  /* main css  */

  /* mission css starts */
  .mission{
    width: 1050px;
    margin: 0 auto;
    /* border: 1px solid tomato; */
    margin-top: 60px;
    margin-bottom: 120px;
  }
  .mission-title{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(19, 16, 58, 1);
    text-align: center;
    margin-bottom: 48px;
  }
  .mission-container{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card{
    /* border: 2px solid red; */
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .card img{
    width: 100%;
  }
  .card-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    margin-left: 30px;
  }
  .card-text{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(66, 66, 66, 1);
    margin-left: 30px;
  }
  /* mission css ends */

  /* develop css starts */
  .develop{
    width: 1050px;
    margin: 0 auto;
    /* border: 1px solid tomato; */
    margin-top: 60px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
 
  }
  .develop-card{
    width: 100%;
    /* border: 1px solid green; */
    
  }
  .develop-card img{
    width: 100%;
  }
  
  .develop-title{
    font-size: 2.2rem;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .develop-text{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(62, 62, 62, 1);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .develop-btn{
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 89, 89, 1);
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding: 14px 31px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* develop css ends */

  /* corona css starts */
  .corona{
    width: 1050px;
    margin: 0 auto;
    /* border: 1px solid tomato; */
    margin-top: 60px;
    margin-bottom: 120px;
  }
 
  .corona-title{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 173, 90, 1);
    margin-bottom: 6px;
    text-align: center;

  }
  .corona-container{
    /* border: 1px solid green; */
    display: flex;
  }
  .corona-card{
    /* border: 1px solid red; */
    width: 50%;
  }
  .corona-card img{
    width: 100%;
  }
  .corona-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .corona-text{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(62, 62, 62, 1);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .app-btn{
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 89, 89, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 25px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* corona css ends */
  /* main css  */

  /* footer css */
footer{
  height: 200px;
  margin-top: 50px;
  background-color: rgba(11, 13, 23, 1);
}
.footer-title{
  font-size: 2.2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 20px 0;
}
.footer-text{
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(217, 219, 225, 1);
  text-align: center;
}
